/* 
  El color se puede indicar de varias formas

  1. Palabras clave 
    En CSS3 son 147 palabras clave para colores.
    http://www.colors.commutercreative.com

  2. Hexadecimal
      Los valores van de 0 a f
      Los valores van en pares (RRGGBB)
      Comienzan con un #
      Si los dos valores de cada pareja son iguales se puede abreviar.

      #55ff33 = #5f3

  3. rgb() y rgba()
      Se indican los tres canales (red, green, blue) en valores de 0 a 255. Para el caso de rgba() existe un cuarto canal (alpha) que indica la opacidad (de 0 a 1);

*/

body {
  background: #ff2355;
  background: rgba(255,0,0,.5);
}